<div class="container">
  <h1><%= @list.name %></h1>
  <% @list.bookmarks.each do |bookmark| %>
    <section>
    <%@list.movies.each do |movie| %>
      <h2><%= movie.title %></h2>
      <p><%= movie.overview %></p>
    <% end %>
      <p><%= bookmark.comment %></p>
      <%= link_to "Delete bookmark", list_path(@list),method: :delete, data: { confirm: "Are you sure?" }%>
    </section>
  <% end %>
  <h2>Add a bookmark</h2>
  <%= simple_form_for [@list, @bookmark] do |f| %>
    <%= f.association :list %>
    <%= f.association :movie %>
    <%= f.input :comment %>
    <%= f.submit class: "btn btn-success" %>
  <% end %>
  <%= link_to "See all lists", lists_path %>
</div>
