<% unless  @list.image_url.empty?  %>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= @list.image_url %>);">
<% else %>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= cl_image_path @list.photo.key %>);">
<% end %>
  <div class="container">
    <h1><%= @list.name %></h1>
    <p>All bookmarks of your <%= @list.name.downcase %> list</p>
    <%= link_to "See all lists", root_path, class:"btn btn-primary"%>
  </div>
</div>

<main>
 <% unless (@list.movies.empty?) %>
  <div class="container">
    <section class="row py-5">
      <%@list.movies.each do |movie| %>
        <div class="col-12 col-md-6 d-flex mb-4">
          <figure class="poster-list">
            <%= image_tag movie.poster_url, alt: "poster movie" %>
          </figure>
          <article>
            <h2><%= movie.title %></h2>
            <p><%= movie.overview.truncate(200) %></p>
            <% movie.bookmarks.each do |bookmark| %>
              <p><i class="fas fa-quote-left"></i> <%= bookmark.comment %></p>
              <div class="footer-bookmark d-flex justify-content-between align-items-center">
                <strong><%= movie.rating %> <i class="fas fa-star"></i></strong>
                <%= link_to bookmark_path(bookmark), class: "btn btn-danger", method: :delete, data: { confirm: "Are you sure?" } do %>
                  <i class="far fa-trash-alt"></i>
                <% end %>
              </div>
            <% end %>
          </article>
        </div>
      <% end %>
    </section>
  </div>
<% end %>

 <section class="row justify-content-center bg-light py-5">
    <div class="container">
      <div class="col-12 col-lg-6">
        <h2>Add a bookmark</h2>
        <%= simple_form_for [@list, @bookmark] do |f| %>
          <%= f.association :list %>
          <%= f.association :movie %>
          <%= f.input :comment %>
          <%= f.submit class: "btn btn-success text-white" %>
        <% end %>
      </div>
    </div>
 </section>
</main>
