<div class="container">
  <h1>Add a bookmark</h1>
  <%= simple_form_for [@list, @bookmark] do |f| %>
    <%= f.association :list %>
    <%= f.association :movie %>
    <%= f.input :comment %>
    <%= f.submit class: "btn btn-success" %>
  <% end %>
  <%= link_to "See all lists", root_path %>
</div>
